version: '3.8'

services:

  apple-watch-series-6:
    build: ./kyc-contract
    mem_limit: 1g
    cpus: '2.0'
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '2.0'
        reservations:
          memory: 512M
          cpus: '1.0'
    depends_on:
      - go-jedi

  apple-watch-se:
    build: ./kyc-contract
    mem_limit: 1g
    cpus: '2.0'
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '2.0'
        reservations:
          memory: 512M
          cpus: '1.0'
    depends_on:
      - go-jedi
  apple-watch-series-5:
    build: ./kyc-contract
    mem_limit: 1g
    cpus: '2.0'
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '2.0'
        reservations:
          memory: 512M
          cpus: '1.0'
    depends_on:
      - go-jedi
  
  apple-watch-series-4:
    build: ./kyc-contract
    mem_limit: 1g
    cpus: '2.0'
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '2.0'
        reservations:
          memory: 512M
          cpus: '1.0'
    depends_on:
      - go-jedi
  
  raspberry-pi:
    build: ./kyc-contract
    mem_limit: 2g
    cpus: '2'
    deploy:
      resources:
        limits:
          memory: 2G
          cpus: '2'
        reservations:
          memory: 1G
          cpus: '1'
    depends_on:
      - go-jedi
  
  fitbit:
    build: ./kyc-contract
    mem_limit: 256m
    cpus: '0.5'
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: '0.5'
        reservations:
          memory: 128M
          cpus: '0.25'
    depends_on:
      - go-jedi
  
  # kyc-contract:
  #   build: ./kyc-contract
  #   depends_on:
  #     - go-jedi
      
  go-jedi:
    build: ./go-jedi
    volumes:
      - ./go-jedi:/app
      - ./go-jedi/go:/go
    ports:
      - "8080:8080"